.mobile-nav-btn {
  --time: 0.1s;
  --width: 35px;
  --height: 25px;
  --line-height: 3px;
  --spacing: 6px;
  --color: #fafafa;
  --radius: 2px;

  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--width);
  height: calc(var(--line-height) * 3 + var(--spacing) * 2);

  @media (min-width: 1199px) {
    display: none;
  }
}

.mobile-nav-icon {
  position: relative;
  border-radius: var(--radius);
  width: var(--width);
  height: var(--line-height);
  background-color: var(--color);
}

.mobile-nav-icon::before,
.mobile-nav-icon::after {
  content: "";
  position: absolute;
  left: 0;
  display: block;
  border-radius: var(--radius);
  width: var(--width);
  height: var(--line-height);
  background-color: var(--color);
  transition: transform var(--time) ease-in, top var(--time) linear var(--time);
}

.mobile-nav-icon::before {
  top: calc(-1 * (var(--line-height) + var(--spacing)));
}

.mobile-nav-icon::after {
  top: calc(var(--line-height) + var(--spacing));
}

.mobile-nav-icon.nav-icon--active {
  background-color: transparent;
}

.mobile-nav-icon.nav-icon--active::before,
.mobile-nav-icon.nav-icon--active::after {
  top: 0;
  transition: top var(--time) linear, transform var(--time) ease-in var(--time);
}

.mobile-nav-icon.nav-icon--active::before {
  transform: rotate(45deg);
}

.mobile-nav-icon.nav-icon--active::after {
  transform: rotate(-45deg);
}
