.swiper-scrollbar {
  border-radius: 0 !important;
  height: 2px !important;
  background-color: rgb(255 255 255 / 30%) !important;
}

.swipper-scrollbar-drag {
  border-radius: 0 !important;
  background-color: rgb(255 255 255) !important;
}
